.board {
  //height: 100%;
  //width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .board-header {
    padding: 4px;
    background-color: lightgray;
  }

  .grid-main {

    &-edit {
      height: calc(100vh - 48px);
    }

    &:not(&-edit) {
      height: 100vh;
    }

    width: 100%;
    display: grid;
    position: relative;

    .center {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      height: 100%;
      width: 100%;
      min-height: 0;
      min-width: 0;
    }

    .bg-color {
      @extend .center;
      height: 100%;
      width: 100%;
    }

    .bg-image {
      @extend .center;
      height: 100%;
      width: 100%;
    }

    .grid-layout {
      @extend .center;

      &-line {
        stroke: #636363;
        stroke-width: 1px;
      }
    }

    .preview {
      @extend .center;
      z-index: 5;
      display: grid;
      cursor: pointer;
      overflow: hidden;

      &-track {
        position: relative;
        display: grid;
        grid-template-columns: 4px 1fr 4px;
        grid-template-rows: 4px 1fr 4px;

        &-content {
          overflow: hidden;
          border-radius: 5px;
          height: 100%;
          width: 100%;
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
          display: grid;
          grid-template-columns: 100%;
          grid-template-rows: 100%;

          &-text {
            @extend .center;
            z-index: 4;
            height: 100%;
            width: 100%;
          }

          img {
            @extend .center;
            z-index: 2;
          }
        }
      }

      &-handler {
        background: transparent;
        height: 100%;
        width: 100%;
        z-index: 2;

        &.top {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
          cursor: row-resize;
        }

        &.bottom {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 3;
          grid-row-end: 4;
          cursor: row-resize;
        }

        &.left {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 2;
          grid-row-end: 3;
          cursor: col-resize;
        }

        &.right {
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 2;
          grid-row-end: 3;
          cursor: col-resize;
        }
      }
    }

    .grid {
      @extend .center;
      display: grid;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .button {
        @extend .center;
        position: relative;

        &-wrapper {
          padding: 4px;
          width: 100%;
          height: 100%;
        }

        &-content {
          overflow: hidden;
          border-radius: 5px;
          height: 100%;
          width: 100%;
          display: grid;
          align-items: flex-end;
          flex-direction: column;
          grid-template-columns: 100%;
          grid-template-rows: 100%;

          &.elevation5 {
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.20);
          }

          &.elevation10 {
            box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.20);
          }

          &-text {
            @extend .center;
            z-index: 3;
            word-wrap: break-word;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            white-space: pre-wrap;
            user-select: none;
            height: 100%;
            width: 100%;
          }

          img {
            @extend .center;
            z-index: 2;
          }

          .layer {
            @extend .center;
            z-index: 4;
          }
        }
      }
    }
  }
}